<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="library/fragments/header::main-head"></head>
	<body>
		<!-- 
			컨트롤러에서 전달받은 파라미터 중 params가 비어있지 않으면 Map에 담겨있는 데이터의 개수만큼 hidden 타입의 <input>태그 추가
			th:action에는 리다이렉트할 URI를, th:method에는 HTTP 요청 메서드를 지정
		 -->
		<form th:if="${not #strings.isEmpty(params)}" name="dataForm" th:action="${redirectUri}" th:method="${method}" style="display:none;">
			<input th:each="key, status : ${params.keySet()}" type="hidden" th:name="${key}" th:value="${params.get(key)}"/>
		</form>
		<script th:src="@{/scripts/common.js}"></script>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
			/* <![CDATA[ */
				window.onload=function(){
					var message = /*[[ ${message} ]]*/;
					if (isEmpty(message) == false) { // 컨트롤러에서 전달받은 메시지가 비어있지 않으면
						alert(message); // Alert 메시지 보여줌
					}
					var params = /*[[ ${params} ]]*/;
					if (isEmpty(params) == false) { // params가 비어있지 않으면
						document.dataForm.submit(); // 폼을 컨트롤러로 서브밋
					} else { // params가 비어있으면
						var redirectUri= /*[[ ${redirectUri} ]]*/; // redirectUri에 지정된 URI 호출
						location.href=redirectUri;
					}
				}
				/*[- end of onload -]*/
			/* ]]> */
			</script>
		</th:block>
	</body>
</html>